<h1 class="my-4">Termek</h1>
<div class="list-group">
    <a href="#" class="list-group-item">Geral</a>
    <a href="#" class="list-group-item">Celulares</a>
    <a href="#" class="list-group-item">Notebooks</a>
    <a href="#" class="list-group-item">PCs</a>
    <a href="#" class="list-group-item">HeadSet</a>
    <a href="#" class="list-group-item">Teclado</a>
    <a href="#" class="list-group-item">Mouse</a>
</div>