@model Termek.Models.ViewModels.ProdutoViewModel
<h2>Cadastrar Produto</h2>

<div class="row">
    <div class="col-md-3">

        <form asp-controller="produto" asp-action="cadastrar" method="post" enctype="multipart/form-data">
            Marca:
            <input type="text" name="Marca" class="form-control" required>
            
            Modelo:
            <input type="text" name="Modelo" class="form-control" required>

            Quantidade
            <input type="text" name="Quantidade" class="form-control" required>

            Valor
            <input type="text" name="Valor" class="form-control" required>

            Categoria
            <select name="CategoriaId" class="form-control">
                @foreach(var item in Model.Categorias){
                    <option value="@item.Id">@item.Descricao</option>
                }
            </select>

            Foto
            <input type="file" name="Foto" class="form-control">

            Descrição
            <textarea name="Descricao" class="form-control" ></textarea>
            <br />

            <button type="submit" class="btn btn-success">
                Cadastrar
            </button>


        </form>

    </div>

    <div class="col-sm-6">
        @if(ViewBag.Mensagem != null){
            <div class="alert alert-success">@ViewBag.Mensagem</div>
        }
    </div>

</div>