<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <form asp-controller="usuario" asp-action="login" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Identifique-se
                </div>
                <div class="panel-body">

                    E-mail
                    <input type="email" name="Email" class="form-control" required>
                    Senha:
                    <input type="password" name="Senha" class="form-control" required>
                    <br />
                    <button type="submit" class="btn btn-success">
                        Login
                    </button>

                </div>
            </div>
        </form>

    </div>
</div>